<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hallen.springcloud.mapper.payment.PaymentMapper">
    <insert id="create" parameterType="com.hallen.springcloud.entities.payment.PaymentBean" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO PAYMENT(SERIAL)
        VALUES (#{serial})
    </insert>
    <select id="getPaymentById" resultType="com.hallen.springcloud.entities.payment.PaymentBean">
        SELECT ID,SERIAL
        FROM PAYMENT
        WHERE ID = #{id}
    </select>

</mapper>